@font-face {
    font-family: 'raleway';
    src: url(./raleway.ttf) format(truetype);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'raleway', Arial, Helvetica, sans-serif; 
}

body {
    background: #fff8f2;
    height: 100%;
    overflow: hidden;
    background: teal;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    position: fixed;
    min-width: calc(100vw - 120px);
    z-index: 100;
    height: 60px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 60px;
    max-width: calc(100vw - 120px);
    gap: 40px;
    border-bottom: 6px solid #ff983e;
}

#logo {
    align-self: center;
}

nav > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    gap: 50px;
    min-height: 100%;
    margin-right: 100px;
}

nav > ul > li {
    min-height: 100%;
}

nav > ul > li > button {
    min-height: 100%;
    border: none;
    background: none;
    font-size: 34px;
    font-weight: 700;
    color: #fff;
}

nav > ul > li > button:hover {
    color: #ff983e;
}

nav > ul > li > button:active {
    color: #ff983e;
}

#content {
    margin: 60px 60px 60px 60px;
    max-height: calc(100vh - 120px);
    min-width: calc(100vw - 120px);
    overflow-y: auto;
    background: #fff8f2;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}